Support Client ID/Secret Basic Header Auth

From the `oauth2` package:

>AuthStyleInHeader sends the client_id and client_password
>using HTTP Basic Authorization. This is an optional style
>described in the OAuth2 RFC 6749 section 2.3.1.